{% extends "base.twig" %}

{% block content %}

	<section class="contact-us-page">
		<div class="posa h100vh w100vw oh l0 t0 z0 t100%@sm float-on-scroll">
			<img src="{{ theme.link }}/images/contact-page-bg-top.jpg" alt="Group of Medical Professionals Talking">
		</div>
    	<div class="posr z0">
    		 <h1 class="heading-1 c-orange mt60 tac">{{ post.page_headline }}</h1>
    		 {% if post.page_description %}
    			 <div class="mt30 tac">{{ post.page_description }}</div>
    		{% endif %}

    		<div class="push-2 span-8 span-12@sm">
    			{% if post.include_form %}
				    <form class="contact-us-page--form mt50 mb100 bgc-white p50 posr bxsh10-10-35-lightgray" action="http://go.trapollo.com/l/486781/2018-02-14/32n4j3" method="POST">
				        <div class="">
				            <div class="dib w100%">
				                <div class="span-6 span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">First name*</div>
				                        <input type="text" name="First Name" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="firstName" required aria-required="true">
				                    </label>
				                </div>
				                <div class="span-6 span-last span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Last name*</div>
				                        <input type="text" name="Last Name" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="lastName" required aria-required="true">
				                    </label>
				                </div>
				                <div class="span-6 span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Your Title</div>
				                        <input type="text" name="Your Title" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="title">
				                    </label>
				                </div>
				                <div class="span-6 span-last span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Organization*</div>
				                        <input type="text" name="Organization" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="organization" required aria-required="true">
				                    </label>
				                </div>
				                <div class="span-6 span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Your Email*</div>
				                        <input type="email" name="Your Email" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="email" required aria-required="true">
				                    </label>
				                </div>
				                <div class="span-6 span-last span-12@sm">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Phone number</div>
				                        <input type="tel" name="Phone Number" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="phone">
				                    </label>
				                </div>
				                <div class="span-6 span-12@sm posr">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">State*</div>
				                        <select name="State" class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="stateName" required aria-required="true">
				                            <option value="">Please select one</option>
				                            <option value="AL">Alabama</option>
				                            <option value="AK">Alaska</option>
				                            <option value="AZ">Arizona</option>
				                            <option value="AR">Arkansas</option>
				                            <option value="CA">California</option>
				                            <option value="CO">Colorado</option>
				                            <option value="CT">Connecticut</option>
				                            <option value="DE">Delaware</option>
				                            <option value="DC">District Of Columbia</option>
				                            <option value="FL">Florida</option>
				                            <option value="GA">Georgia</option>
				                            <option value="HI">Hawaii</option>
				                            <option value="ID">Idaho</option>
				                            <option value="IL">Illinois</option>
				                            <option value="IN">Indiana</option>
				                            <option value="IA">Iowa</option>
				                            <option value="KS">Kansas</option>
				                            <option value="KY">Kentucky</option>
				                            <option value="LA">Louisiana</option>
				                            <option value="ME">Maine</option>
				                            <option value="MD">Maryland</option>
				                            <option value="MA">Massachusetts</option>
				                            <option value="MI">Michigan</option>
				                            <option value="MN">Minnesota</option>
				                            <option value="MS">Mississippi</option>
				                            <option value="MO">Missouri</option>
				                            <option value="MT">Montana</option>
				                            <option value="NE">Nebraska</option>
				                            <option value="NV">Nevada</option>
				                            <option value="NH">New Hampshire</option>
				                            <option value="NJ">New Jersey</option>
				                            <option value="NM">New Mexico</option>
				                            <option value="NY">New York</option>
				                            <option value="NC">North Carolina</option>
				                            <option value="ND">North Dakota</option>
				                            <option value="OH">Ohio</option>
				                            <option value="OK">Oklahoma</option>
				                            <option value="OR">Oregon</option>
				                            <option value="PA">Pennsylvania</option>
				                            <option value="RI">Rhode Island</option>
				                            <option value="SC">South Carolina</option>
				                            <option value="SD">South Dakota</option>
				                            <option value="TN">Tennessee</option>
				                            <option value="TX">Texas</option>
				                            <option value="UT">Utah</option>
				                            <option value="VT">Vermont</option>
				                            <option value="VA">Virginia</option>
				                            <option value="WA">Washington</option>
				                            <option value="WV">West Virginia</option>
				                            <option value="WI">Wisconsin</option>
				                            <option value="WY">Wyoming</option>
				                        </select><span class="posa r5 t15 c-light-blue">∨</span></label>
				                </div>
				                <div class="span-6 span-last span-12@sm posr">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Interested in*</div>
				                        <select class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="interest" required aria-required="true">
				                            <option value=""></option>
				                            <option value="Program Management">Program Management</option>
				                            <option value="Patient Support">Patient Support</option>
				                            <option value="Logistics">Logistics</option>
				                            <option value="Devices">Devices</option>
				                            <option value="Other">Other</option>
				                        </select><span class="posa r5 t15 c-light-blue">∨</span></label>
				                </div>
				                <div class="span-12">
				                    <label class="contact-page--label" for="">
				                        <div class="label--text c-gray fz12">Your message*</div>
				                        <textarea class="form-input bgc-white bdn w100% mb30 Graphik-Light-Web" id="message" rows="4" required aria-required="true"></textarea>
				                    </label>
				                </div>
				                <div class="span-12 fz10 mb20@sm">*Required</div>
				            </div>
				        </div>
				        <div class="dn">
				            <div class="dib w100% h100% posr">
				                <div class="span-12">
				                    <h2 class="tac vertical-align-absolute w100% c-dark-blue heading-2">{{ post.form_thank_you_message }}</h2></div>
				            </div>
				        </div>
				        <div class="tac posa t100% l0 r0 ">
				            <div class="buttons vertical-align dib w100%">
				                <button class="w220 bd2-s-orange bgc-orange c-white ff-produkt ttu p20-0 bxsh10-10-35-lightgray" type="submit">Send</button>
				            </div>
				        </div>
				        <div class="error-container p20-0 p0@sm">
				            <ul class="errors"></ul>
				        </div>
				    </form>
				   {% endif %}
			    <div class="phone-address-container">
			        <div class="phone icon-phone posr"><span class="c-orange title">Phone</span>
			            <br><span class="content"><a href="tel:{{ post.contact_phone }}" target="_blank" rel="rel noopener">{{ post.contact_phone }}</a></span></div>
			        <div class="address icon-address posr"><span class="c-orange title">Headquarters</span><br><span class="content">{{ post.contact_address }}</span></div>
			    </div>
			</div>

    	</div>
	</section>
	
	
{% endblock %}
